
SELECT * from reusability_metrics_v2('Mobile','MICROFLOW') AS "Mobile Reuse Percentage for MICROFLOW";

SELECT * from reusability_metrics_v2('Mobile','TAS') AS "Mobile Reuse Percentage for TAS";

SELECT * from reusability_metrics_v2('Mobile','FPS') AS "Mobile Reuse Percentage for FPS";

SELECT * from reusability_metrics_v2('Mobile','AVG.') AS "Mobile Reuse Percentage for AVG.";
