Hi,
this are results for common vs local on {{ ansible_date_time.year }}/{{ ansible_date_time.month }}/{{ ansible_date_time.day }} at {{ ansible_date_time.hour }}h{{ ansible_date_time.minute }}min{{ ansible_date_time.second }}s CET:


####### Common Catalog items #######
{{ common_catalog_items.stdout }}




####### Finland Catalog items #######
{{ fi_catalog_items.stdout }}


Best regards,
Telia EOC ECM DevOps
