select count(*) from cwpc_itemattribute_v civ where (itemcode like 'CFSS_L%' or itemcode like 'RFSS_L%' or itemcode like '%RS_L%') and catalogobjecttype = 'item' and itemattributecode <> 'version' and itemattributecode not in (select itemattributecode from cwpc_itemattribute_v where catalogobjecttype = 'item' and itemattributecode <> 'version' and itemcode in (select baseitemcode from cwpc_item where itemcode = civ.itemcode));
