This deployment was successful with metadata with Git Commit ID: {{ git_commit_id }}.
It was executed on {{ ansible_date_time.year }}/{{ ansible_date_time.month }}/{{ ansible_date_time.day }} at {{ ansible_date_time.hour }}h{{ ansible_date_time.minute }}min{{ ansible_date_time.second }}s.
