
select * from reusability_metrics_FI('CFSS', 'FI') AS "Reused Percentage CFSS";

select * from reusability_metrics_FI('RFSS', 'FI') AS "Reused Percentage RFSS";

select * from reusability_metrics_FI('PRS', 'FI') AS "Reused Percentage PRS";

select * from reusability_metrics_FI('LRS', 'FI') AS "Reused Percentage LRS";
