
select * from resuability_metrics_LT('CFSS', 'LT') AS "Reused Percentage CFSS";

select * from resuability_metrics_LT('RFSS', 'LT') AS "Reused Percentage RFSS";

select * from resuability_metrics_LT('PRS', 'LT') AS "Reused Percentage PRS";

select * from resuability_metrics_LT('LRS', 'LT') AS "Reused Percentage LRS";
