
select * from resuability_metrics_NO_Mobile('CFSS', 'NO') AS "Reused Percentage CFSS";

select * from resuability_metrics_NO_Mobile('RFSS', 'NO') AS "Reused Percentage RFSS";

select * from resuability_metrics_NO_Mobile('PRS', 'NO') AS "Reused Percentage PRS";

select * from resuability_metrics_NO_Mobile('LRS', 'NO') AS "Reused Percentage LRS";
